.sectionAbout {
    padding-top: 1.6rem;
}

.imgAbout {
    display:inline-block; 
    vertical-align: middle;
    padding-top: 8rem;
}

.portraitAbout {
    border-radius: 50%;
}

.articleAbout {
    display:inline-block;
    vertical-align: middle;
    justify-content: center;
    padding-left: 3rem;
    padding-top: 4rem;
}

.articleAbout p {
    width: 35rem;
    text-align: center;
}

.articleAbout h3 {
    width: 35rem;
    font-size: 1.5rem;
}

.buttonAbout {
  background-color: #fcdeba;
  border: 1.5px solid #422800;
  border-radius: 15px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 20px;
  padding-left: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Times New Roman', Times, serif;
}

.buttonAbout:hover {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buttonAbout:active {
    min-width: 120px;
    padding: 0 25px;
  }
}