section {
    padding-top: 1.6rem;
}

.portrait {
    display:inline-block; 
    vertical-align: middle;
    padding-top: 1rem;
}

.picture {
    margin-left:2%;
    float:left; 
    padding-top: 1.1rem;
}

.picture2 {
    margin-left:2%;
    float:left; 
    padding-top: 0.5rem;
}

.articleContact {
    display:inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 0.5rem;
    width: 28rem;
    padding-left: 3rem;
}

.articleContact p {
    font-size: 1.1rem;
    padding-left: 4rem;
    padding-top: 1rem;
}
