@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face{
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face{
  font-family: 'DMSerifDisplay';
  src: url(./fonts/DMSerifDisplay-Regular.ttf);
}

aside * {
  display: inline;
}

body {
  text-align: center;
}

h1, h2, h3, .modal-header {
  font-family: 'DMSerifDisplay';
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  padding-right: 5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

p, .modal-body {
  font-family: 'Montserrat';
}

body {
  margin: 0px;
}

aside {
  display: flex;
  justify-content: center; /* adjustment */
  position: relative; /* new */
  background-color: #fcdeba;
  width: 100%;
  height: 4rem;
  align-items: center;
  font-family: 'Times New Roman', Times, serif
}

.currentPage {
  text-decoration: underline;
}

nav ul li{
  width: 50%; 
  padding: 3rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, .button a {
  color: #000000;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  text-decoration: underline;
  color: #000000;
  outline: none;
}

.button a:hover {
  text-decoration: none;
}

.buttons, .btn {
  background-color: #fcdeba;
  border-radius: 5px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  padding: 10px 20px;
  padding-left: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
}

.buttons:hover, .btn:hover { 
  background-color: #fecd91;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  color: #000000;
}
