@font-face{
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face{
  font-family: 'DMSerifDisplay';
  src: url(./fonts/DMSerifDisplay-Regular.ttf);
}

aside * {
  display: inline;
}

body {
  text-align: center;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
  font-family: 'DMSerifDisplay';
}

h1 {
  font-size: 2rem;
}

h4 {
  padding-right: 5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

p {
  font-family: 'Montserrat';
}

body {
  margin: 0px;
}

aside {
  display: flex;
  justify-content: center; /* adjustment */
  position: relative; /* new */
  background-color: #fcdeba;
  width: 100%;
  height: 4rem;
  align-items: center;
  font-family: 'Times New Roman', Times, serif
}

.currentPage {
  text-decoration: underline;
}

nav ul li{
  width: 50%; 
  padding: 3rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a{
  color: #000000;
  text-decoration: none;
}

nav a:focus, nav a:hover, nav a:active {
  text-decoration: underline;
}

nav a:focus{
  outline: none;
}
